<!DOCTYPE HTML>
<!--
    Introspect by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>VT-3 Automated Schedule Notifications</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/static/assets/css/main.css" />
    </head>
    <body>

        <!-- Header -->
            <header id="header">
                <div class="inner">
                    <a href="/" class="logo">VT-3 Notifications</a>
                    <nav id="nav">
                        <a href="/#">Home</a>
                        <a href="/#signup">Signup</a>
                        <a href="/unsubscribe">Unsubscribe</a>
                        <a href="/bugs">Report a Bug</a>
                    </nav>
                </div>
            </header>
            <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

        {% block content %} {% endblock %}

        <!-- Footer -->
			<section id="footer">
				<div class="inner">
                    <div class="items">
                        <a href="/about"><strong>About</strong></a><br>
                        <a href="https://github.com/DickJ/vt3" target="_blank">
                            <strong>Github</strong></a><br>
                        <a href="/disclaimer"><strong>Disclaimer</strong></a><br>
                    </div>
					<div class="copyright">
						&copy; CSS/HTML design by <a href="https://templated.co/">TEMPLATED</a>
					</div>
				</div>
			</section>

        <!-- Scripts -->
            <script src="/static/assets/js/jquery.min.js"></script>
            <script src="/static/assets/js/skel.min.js"></script>
            <script src="/static/assets/js/util.js"></script>
            <script src="/static/assets/js/main.js"></script>

    </body>
</html>