{% extends "base.html" %}
{% block content %}
    <section>
        <div class="row">
            <h4>Pay Your Mess Dues Online!</h4>
        </div>
        <div class="row">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li><h5 style="color:#11d277">{{ message }}</h5></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div class="row">
            <div class="table-wrapper" >
                <table>
                    <thead>
                        <td colspan="3"></td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Landing Fees</td>
                            <td>$150.00 + $4.79 fee</td>
                            <td>
                                <form action="/dues" method="POST">
                                  {{ form.hidden_tag() }}
                                  <input type="hidden" name="amount" value="15479">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_live_Hj1E6oPxWFQMFSFo1O1q5C2t"
                                    data-amount="15479"
                                    data-name="$150 Landing Fees"
                                    data-description="+$4.79 Credit Card Fee"
                                    data-image="static/images/vt3.png"
                                    data-locale="auto">
                                  </script>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>3 Months</td>
                            <td>$30.00 + $1.20 fee</td>
                            <td>
                                <form action="/your-server-side-code" method="POST">
                                  {{ form.hidden_tag() }}
                                  <input type="hidden" name="amount" value="3120">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_live_Hj1E6oPxWFQMFSFo1O1q5C2t"
                                    data-amount="3120"
                                    data-name="3 Months Dues - $30"
                                    data-description="+$1.20 Credit Card Fee"
                                    data-image="static/images/vt3.png"
                                    data-locale="auto">
                                  </script>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>6 Months</td>
                            <td>$60.00 + $2.10 fee</td>
                            <td>
                                <form action="/your-server-side-code" method="POST">
                                  {{ form.hidden_tag() }}
                                  <input type="hidden" name="amount" value="6210">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_live_Hj1E6oPxWFQMFSFo1O1q5C2t"
                                    data-amount="6210"
                                    data-name="6 Months Dues - $60"
                                    data-description="+$2.10 Credit Card Fee"
                                    data-image="static/images/vt3.png"
                                    data-locale="auto">
                                  </script>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>9 Months</td>
                            <td>$90.00 + 3.00 fee</td>
                            <td>
                                <form action="/your-server-side-code" method="POST">
                                  {{ form.hidden_tag() }}
                                  <input type="hidden" name="amount" value="9300">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_live_Hj1E6oPxWFQMFSFo1O1q5C2t"
                                    data-amount="9300"
                                    data-name="9 Months Dues - $90"
                                    data-description="+$3.00 Credit Card Fee"
                                    data-image="static/images/vt3.png"
                                    data-locale="auto">
                                  </script>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>1 Year</td>
                            <td>$120.00 + $3.89 fee</td>
                            <td>
                                <form action="/your-server-side-code" method="POST">
                                  {{ form.hidden_tag() }}
                                  <input type="hidden" name="amount" value="12389">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_live_Hj1E6oPxWFQMFSFo1O1q5C2t"
                                    data-amount="12389"
                                    data-name="1 Year Dues - $120"
                                    data-description="+$3.89 Credit Card Fee"
                                    data-image="static/images/vt3.png"
                                    data-locale="auto">
                                  </script>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    <section>
{% endblock %}