{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="static/assets/css/payments.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_live_Hj1E6oPxWFQMFSFo1O1q5C2t');

        $(function() {
            var $form = $('#payment-form');
            $form.submit(function(event) {
                // Disable the submit button to prevent repeated clicks:
                $form.find('.submit').prop('disabled', true);

                // Request a token from Stripe:
                Stripe.card.createToken($form, stripeResponseHandler);

                // Prevent the form from being submitted:
                return false;
            });
        });

        function stripeResponseHandler(status, response) {
            // Grab the form:
            console.log(response);
            var $form = $('#payment-form');
            if (response.error) { // Problem!

                // Show the errors on the form:
                $form.find('.payment-errors').text(response.error.message);
                $form.find('.submit').prop('disabled', false); // Re-enable submission

            } else { // Token was created!

                // Get the token ID:
                var token = response.id;

                // Insert the token ID into the form so it gets submitted to the server:
                $form.append($('<input type="hidden" name="stripeToken">').val(token));

                // Submit the form:
                $form.get(0).submit();
            }
        };
    </script>

    <section id="main">
        <div class="inner">
            <h1>Order your Mugs and Steins Here</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <section>
                {% for error in form.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>

                <form action="/mugs" method="POST" id="payment-form" name="mugs">
                    {{ form.hidden_tag() }}
                    <input type="hidden" id="amount" name="amount" value="0.0">
                    <div class="6u 12u$(xsmall)">
                        Name: {{ form.name(size=40, autofocus=true) }}
                    </div>

                    <div class="6u 12u$(xsmall)">
                        Email: {{ form.email(size=40) }}
                    </div>

                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                                Coffee Mugs:
                                <div class="select-wrapper">{{ form.mug_qty(onChange="updateCosts();") }}</div>
                        </div>
                    </div>
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                                Beer Steins:
                                <div class="select-wrapper">{{ form.stein_qty(onChange="updateCosts();") }}</div>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        Name/Callsign on Mug/Stein: {{ form.callsign(size=40) }}
                    </div>
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">
                                Service:
                                <div class="select-wrapper">{{ form.branchofservice() }}</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row univorm 50%">
                        <div class="table-wrapper">
                            <table class="payment">
                                <tbody>
                                    <tr>
                                        <th>Card Number</th>
                                        <th><input type="text" size="16" maxlength="16" data-stripe="number"></th>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="payment">
                                <tbody>
                                    <tr>
                                        <th>Expiration (MM/YY)</th>
                                        <th><input type="text" size="2" maxlength="2" data-stripe="exp_month"></th>
                                        <th>/</th>
                                        <th><input type="text" size="2" maxlength="2" data-stripe="exp_year"></th>
                                        <th>CVC</th>
                                        <th><input type="text" size="4" maxlength="4" data-stripe="cvc"></th>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="payment">
                                <tbody>
                                    <tr>
                                        <th>Billing Zip</th>
                                        <th><input type="text" size="6" maxlength="5" data-stripe="address_zip"></th>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="payment">
                                <thead>
                                    <tr>
                                        <th>Cost</th>
                                        <th>Card Fee</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="cost_t" value="0"></td>
                                        <td id="stripefee_t" value="0"></td>
                                        <td id="totalcost_t" value="0"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="payment-errors" style="color: red"></span>
                            <table class="payment">
                                <tbody>
                                    <tr>
                                        <th><input type="submit" class="submit" value="Submit Payment"></th>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="4u">
                                Credit Card Payments Powered By <a href="stripe.com">Stripe.com</a>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </section>

    <script type="text/javascript">
        var cost_t = document.getElementById('cost_t');
        var stripefee_t = document.getElementById('stripefee_t');
        var totalcost_t = document.getElementById('totalcost_t');

        function updateCosts(){
            var mug_qty = document.getElementById('mug_qty').value;
            var stein_qty = document.getElementById('stein_qty').value;
            var price_per_mug = 20.0;
            var price_per_stein = 31.0;
            var stripe_fee = 0.0;

            var cost = parseFloat((mug_qty * price_per_mug + stein_qty * price_per_stein));
            console.log(cost);

            stripe_fee = ((cost + .30)/.971 - cost + .01).toFixed(2);
            var total_cost = (parseFloat(cost) + parseFloat(stripe_fee)).toFixed(2);

            console.log(stripe_fee);
            console.log(total_cost);

            document.getElementById('cost_t').innerText = "$" + cost;
            document.getElementById("stripefee_t").innerText = "$" + stripe_fee;
            totalcost_t.innerText = "$" + total_cost;
            document.getElementById("amount").value = total_cost;
        }

    </script>
{% endblock %}